* { margin: 0; padding: 0; box-sizing: border-box;}

#logoIUTToulouse {
	width:83px;
	height:50px;
}

 #logoUnivPaulSab{
	width:50px;
	height:50px;
 }
 
 #logoBUTInfo {
	width:43px;
	height:50px;
 }
 
header {
	background-color: grey;
	top: 0;
	position: sticky;
	border-radius: 3px;
}

header nav {
	display: flex;
	padding: 10px;
	clear: both;
	justify-content: center; 
}

header nav ul { 
	display: flex;
	align-content: center;
	list-style-type: none;
}

header nav ul li {
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	border-style: groove;
	border-radius: 4px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: lightgrey;
}

header nav a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 10px 0px;
}

.sous {
	display: none;
	background-color: lightgrey;
	position: absolute;
	border-radius: 4px;
}

header nav > ul li:hover .sous {
	display: block;
	position: absolute;
}

.sous a {
	padding: 10px;
}

.sous a:hover {
	border-bottom: none;
	background-color: darkgrey;
}

#imageNavGauche {
float: left;
}

#imageNavDroite {
float: right;
}

footer {
	position: sticky;
	bottom: 0;
}

#planFooter {
	float: left;
	justify-content: start;
}

#ownerFooter{
	float: right;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: grey;
	padding-bottom: 170px;
	position: relative;
	bottom: 0;
}

footer ul li {
	background-color: grey;
	list-style-type: none;
}

footer ul li a{
text-decoration: none;
color: black;
}
